@foreach (var service in Model.Services)
{
    <li>@service.Key - @service.Value[0].Address</li>
}
@foreach (var kv in Model.KVPairs)
{
    <li>@kv.Key - @System.Text.Encoding.UTF8.GetString(kv.Value.Value)</li>
}